<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <style>
        h1 {
            font-size: 50px;
            color: rgb(8, 8, 8);
            text-align: center;
        }

        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>

</head>

<body>
    <h1>Welcome To Database</h1>
    <% if(result!=null) { %>
        <table id="customers">
            <tr>
                <th>Roll</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <% result.forEach(function(person){ %>
                <tr>
                    <td>
                        <%= person.ID%>
                    </td>
                    <td>
                        <%= person.NAME %>
                    </td>
                    <td>
                        <%= person.EMAIL%>
                    </td>
                </tr>
                <% }) %>
        </table>
        <% } %>
</body>

</html>